<div>
    <div>
        <a href="#/work"> Work </a>
    </div>
    <br />
    <div>
        About
        <ul>
            <li>JBoss RESTEasy RESTFul server implementation</li>
            <ul>
                <li>source for resources and representation in cv/WEB-INF/classes/cv</li>
            </ul>
            <li>AngularJS thin-client implementation</li>
            <ul>
                <li>controllers' and services' source in cv/WebContent/app/js</li>
                <li>views' source in cv/WebContent/app/partials</li>
            </ul>
            <li>Backlog in cv/WEB-INF/classes/cv/resource/FmeaResource.java and inline //TODO's</li>
            <li>Known issues</li>
            <ul>
                <li>not happy with the smart-table module selection - some sorting / initialization bugs</li>
                <li>some incoming experiment use cases cause a sort which imply an unnecessary save</li>
            </ul>
            <li>Notes</li>
            <ul>
                <li>without customer iteration this is a less-is-more approach</li>
            </ul>
        </ul>
    </div>
</div>
