<div>
    <div>
        <a href="#/work"> Work </a>
    </div>
    <br />
    <div>
        <b>About</b>
        <ul>
            <li>JBoss RESTEasy RESTFul server implementation</li>
            <ul>
                <li>source for resources and representation in cv/WEB-INF/classes/cv</li>
            </ul>
            <li>AngularJS thin-client implementation</li>
            <ul>
                <li>controllers' and services' source in cv/WebContent/app/js</li>
                <li>views' source in cv/WebContent/app/partials</li>
            </ul>
            <li>Backlog in cv/WEB-INF/classes/cv/resource/FmeaResource.java and inline //TODO's</li>
            <li>Known issues</li>
            <ul>
                <li>not happy with the smart-table module selection - some sorting / initialization bugs</li>
                <li>some incoming experiment use cases cause a sort which imply an unnecessary save</li>
            </ul>
            <li>Notes</li>
            <ul>
                <li>without customer iteration this is a less-is-more approach</li>
            </ul>
        </ul>
        <b>Directions</b>
        <ol>
            <li>Overview: <a href="../../data/AngularJS.pdf">AngularJS brown bag seminar</a> presented January 2015</li>
            <li>Right click and [Save-As]: <a href="../../data/ExperimentalSets.xml">XML Experimental Sets</a> for use in this sample application</li>
            <li>Click on the [Work] link above to upload experiment sets, sort them, and re-save locally</li>
        </ol>
    </div>
</div>
